.company__container {
  width: 80%;
  margin: 2rem auto;
}

.company__container .container__content {
  display: flex;
  justify-content: space-between;
}

.company__container img {
  height: 100px;
}

@media screen and (max-width: 1000px) {
  .company__container .container__content img {
    height: 40px;
  }
}

@media screen and (max-width: 500px) {

  .company__container .container__content {
    gap: 2rem;
    flex-direction: column;
    margin: 0 auto;
  }

  .company__container .container__content img {
    height: 50px;
    width: 100px;
    margin: 0 auto;
  }
}
